numpy
pandas
matplotlib
seaborn
scikit-learn
statsmodels
joblib
lightgbm
xgboost

# dev
## tools
black
isort
flake8
rope
## jupyter
jupyterlab
xeus-python
### extension
jupyterlab-kite
lckr-jupyterlab-variableinspector
jupyterlab_code_formatter
jupyterlab-git
aquirdturtle_collapsible_headings

# numerai
numerapi
numerai-cli
